In [126]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [127]:
from reusable_modules.metrics import MSE, MAE, RMSE, R2_Score
from reusable_modules.gd_poly import  gradient_descent 
from reusable_modules.constants import (
   learning_rates , iteration_counts 
)

In [128]:
df = pd.read_csv('data/zuu crew scores.csv')
df = df[df['CourseName'] == 'Foundations of ML']
df.head(5)

,MemberName,EducationLevel,Attendance,TotalHours,AssignmentsCompleted,HackathonParticipation,GitHubScore,PeerReviewScore,CourseName,CapstoneScore
0,Theekshana Rathnayake,3,79.9,43.7,2,0,62.8,5.0,Foundations of ML,45.3
1,Mayura Sandakalum Sellapperuma,2,76.8,95.6,6,0,87.4,2.7,Foundations of ML,78.8
2,Amila Narangoda,3,96.6,75.9,8,0,98.4,2.8,Foundations of ML,65.4
4,Tharusha Vihanga,2,83.2,24.0,6,0,41.8,4.2,Foundations of ML,40.1
7,Chamath Perera,3,86.5,88.0,5,0,23.9,1.3,Foundations of ML,68.2

Pick Features & Target

In [129]:
FEATURES = ["Attendance", "TotalHours", "AssignmentsCompleted",
            "HackathonParticipation", "PeerReviewScore"]
TARGET = "CapstoneScore"

In [130]:
X_full = df[FEATURES].values
y_full = df[TARGET].values

print (X_full.shape)
print (y_full.shape)

(72, 5)
(72,)

In [131]:
def train_test_split_np(X, y, test_size=0.2, seed=42):
    rng = np.random.default_rng(seed)
    m = X.shape[0]
    idx = np.arange(m); rng.shuffle(idx)
    m_test = int(np.round(m * test_size))
    test_idx = idx[:m_test]; train_idx = idx[m_test:]
    return X[train_idx], X[test_idx], y[train_idx], y[test_idx]

X_train_raw, X_test_raw, y_train, y_test = train_test_split_np(X_full, y_full, test_size=0.2, seed=42)

Scale features

In [132]:
mu = X_train_raw.mean(axis=0)                 # (p,)
sd = X_train_raw.std(axis=0) + 1e-12          # (p,)
X_train = (X_train_raw - mu) / sd
X_test  = (X_test_raw  - mu) / sd

Add an intercept term.

In [133]:
def add_intercept(X):
    return np.c_[np.ones((X.shape[0], 1)), X]

Xtr = add_intercept(X_train)
Xte = add_intercept(X_test)

In [134]:
results = {}   
rows = []      

for ALPHA in learning_rates:
    for N_ITER in iteration_counts:
       
        beta0 = np.zeros(Xtr.shape[1], dtype=float)

        
        cost_history, beta = gradient_descent(Xtr, y_train, beta0, lr=ALPHA, n_iter=N_ITER)
        final_cost = cost_history[-1] if len(cost_history) else np.inf

        
        if not np.isfinite(final_cost):
            print(f"SKIP (diverged): α={ALPHA}, iters={N_ITER}")
            continue


        yhat_tr = Xtr.dot(beta)
        yhat_te = Xte.dot(beta)

        
        results[(ALPHA, N_ITER)] = {"beta": beta, "cost_history": cost_history}

       
        rows.append({
            "α": ALPHA,
            "Iterations": N_ITER,
            "Final Cost (Train)": final_cost,
            "Train MSE":  MSE(y_train, yhat_tr),
            "Train MAE":  MAE(y_train, yhat_tr),
            "Train RMSE": RMSE(y_train, yhat_tr),
            "Train R²":   R2_Score(y_train, yhat_tr),
            "Test MSE":   MSE(y_test,  yhat_te),
            "Test MAE":   MAE(y_test,  yhat_te),
            "Test RMSE":  RMSE(y_test,  yhat_te),
            "Test R²":    R2_Score(y_test,  yhat_te),
        })

Iteration : 0: Cost : 1687.5113
Iteration : 100: Cost : 1684.1549
Iteration : 200: Cost : 1680.8052
Iteration : 300: Cost : 1677.4623
Iteration : 400: Cost : 1674.1260
Iteration : 500: Cost : 1670.7964
Iteration : 600: Cost : 1667.4735
Iteration : 700: Cost : 1664.1572
Iteration : 800: Cost : 1660.8476
Iteration : 900: Cost : 1657.5446
Iteration : 0: Cost : 1687.5113
Iteration : 100: Cost : 1684.1549
Iteration : 200: Cost : 1680.8052
Iteration : 300: Cost : 1677.4623
Iteration : 400: Cost : 1674.1260
Iteration : 500: Cost : 1670.7964
Iteration : 600: Cost : 1667.4735
Iteration : 700: Cost : 1664.1572
Iteration : 800: Cost : 1660.8476
Iteration : 900: Cost : 1657.5446
Iteration : 1000: Cost : 1654.2483
Iteration : 1100: Cost : 1650.9585
Iteration : 1200: Cost : 1647.6753
Iteration : 1300: Cost : 1644.3987
Iteration : 1400: Cost : 1641.1287
Iteration : 1500: Cost : 1637.8652
Iteration : 1600: Cost : 1634.6082
Iteration : 1700: Cost : 1631.3578
Iteration : 1800: Cost : 1628.1138
Iteration : 1900: Cost : 1624.8764
Iteration : 2000: Cost : 1621.6455
Iteration : 2100: Cost : 1618.4210
Iteration : 2200: Cost : 1615.2030
Iteration : 2300: Cost : 1611.9914
Iteration : 2400: Cost : 1608.7863
Iteration : 2500: Cost : 1605.5876
Iteration : 2600: Cost : 1602.3953
Iteration : 2700: Cost : 1599.2094
Iteration : 2800: Cost : 1596.0298
Iteration : 2900: Cost : 1592.8567
Iteration : 3000: Cost : 1589.6898
Iteration : 3100: Cost : 1586.5294
Iteration : 3200: Cost : 1583.3752
Iteration : 3300: Cost : 1580.2274
Iteration : 3400: Cost : 1577.0859
Iteration : 3500: Cost : 1573.9507
Iteration : 3600: Cost : 1570.8217
Iteration : 3700: Cost : 1567.6990
Iteration : 3800: Cost : 1564.5826
Iteration : 3900: Cost : 1561.4724
Iteration : 4000: Cost : 1558.3685
Iteration : 4100: Cost : 1555.2707
Iteration : 4200: Cost : 1552.1792
Iteration : 4300: Cost : 1549.0939
Iteration : 4400: Cost : 1546.0147
Iteration : 4500: Cost : 1542.9417
Iteration : 4600: Cost : 1539.8749
Iteration : 4700: Cost : 1536.8142
Iteration : 4800: Cost : 1533.7596
Iteration : 4900: Cost : 1530.7111
Iteration : 0: Cost : 1687.5113
Iteration : 100: Cost : 1684.1549
Iteration : 200: Cost : 1680.8052
Iteration : 300: Cost : 1677.4623
Iteration : 400: Cost : 1674.1260
Iteration : 500: Cost : 1670.7964
Iteration : 600: Cost : 1667.4735
Iteration : 700: Cost : 1664.1572
Iteration : 800: Cost : 1660.8476
Iteration : 900: Cost : 1657.5446
Iteration : 1000: Cost : 1654.2483
Iteration : 1100: Cost : 1650.9585
Iteration : 1200: Cost : 1647.6753
Iteration : 1300: Cost : 1644.3987
Iteration : 1400: Cost : 1641.1287
Iteration : 1500: Cost : 1637.8652
Iteration : 1600: Cost : 1634.6082
Iteration : 1700: Cost : 1631.3578
Iteration : 1800: Cost : 1628.1138
Iteration : 1900: Cost : 1624.8764
Iteration : 2000: Cost : 1621.6455
Iteration : 2100: Cost : 1618.4210
Iteration : 2200: Cost : 1615.2030
Iteration : 2300: Cost : 1611.9914
Iteration : 2400: Cost : 1608.7863
Iteration : 2500: Cost : 1605.5876
Iteration : 2600: Cost : 1602.3953
Iteration : 2700: Cost : 1599.2094
Iteration : 2800: Cost : 1596.0298
Iteration : 2900: Cost : 1592.8567
Iteration : 3000: Cost : 1589.6898
Iteration : 3100: Cost : 1586.5294
Iteration : 3200: Cost : 1583.3752
Iteration : 3300: Cost : 1580.2274
Iteration : 3400: Cost : 1577.0859
Iteration : 3500: Cost : 1573.9507
Iteration : 3600: Cost : 1570.8217
Iteration : 3700: Cost : 1567.6990
Iteration : 3800: Cost : 1564.5826
Iteration : 3900: Cost : 1561.4724
Iteration : 4000: Cost : 1558.3685
Iteration : 4100: Cost : 1555.2707
Iteration : 4200: Cost : 1552.1792
Iteration : 4300: Cost : 1549.0939
Iteration : 4400: Cost : 1546.0147
Iteration : 4500: Cost : 1542.9417
Iteration : 4600: Cost : 1539.8749
Iteration : 4700: Cost : 1536.8142
Iteration : 4800: Cost : 1533.7596
Iteration : 4900: Cost : 1530.7111
Iteration : 5000: Cost : 1527.6688
Iteration : 5100: Cost : 1524.6325
Iteration : 5200: Cost : 1521.6024
Iteration : 5300: Cost : 1518.5783
Iteration : 5400: Cost : 1515.5602
Iteration : 5500: Cost : 1512.5482
Iteration : 5600: Cost : 1509.5422
Iteration : 5700: Cost : 1506.5423
Iteration : 5800: Cost : 1503.5483
Iteration : 5900: Cost : 1500.5604
Iteration : 6000: Cost : 1497.5784
Iteration : 6100: Cost : 1494.6024
Iteration : 6200: Cost : 1491.6324
Iteration : 6300: Cost : 1488.6683
Iteration : 6400: Cost : 1485.7101
Iteration : 6500: Cost : 1482.7579
Iteration : 6600: Cost : 1479.8116
Iteration : 6700: Cost : 1476.8712
Iteration : 6800: Cost : 1473.9366
Iteration : 6900: Cost : 1471.0080
Iteration : 7000: Cost : 1468.0852
Iteration : 7100: Cost : 1465.1683
Iteration : 7200: Cost : 1462.2572
Iteration : 7300: Cost : 1459.3519
Iteration : 7400: Cost : 1456.4525
Iteration : 7500: Cost : 1453.5588
Iteration : 7600: Cost : 1450.6710
Iteration : 7700: Cost : 1447.7889
Iteration : 7800: Cost : 1444.9126
Iteration : 7900: Cost : 1442.0421
Iteration : 8000: Cost : 1439.1773
Iteration : 8100: Cost : 1436.3183
Iteration : 8200: Cost : 1433.4649
Iteration : 8300: Cost : 1430.6173
Iteration : 8400: Cost : 1427.7754
Iteration : 8500: Cost : 1424.9392
Iteration : 8600: Cost : 1422.1087
Iteration : 8700: Cost : 1419.2838
Iteration : 8800: Cost : 1416.4646
Iteration : 8900: Cost : 1413.6510
Iteration : 9000: Cost : 1410.8431
Iteration : 9100: Cost : 1408.0408
Iteration : 9200: Cost : 1405.2441
Iteration : 9300: Cost : 1402.4530
Iteration : 9400: Cost : 1399.6675
Iteration : 9500: Cost : 1396.8875
Iteration : 9600: Cost : 1394.1132
Iteration : 9700: Cost : 1391.3443
Iteration : 9800: Cost : 1388.5811
Iteration : 9900: Cost : 1385.8233
Iteration : 0: Cost : 1684.1868
Iteration : 100: Cost : 1380.2143
Iteration : 200: Cost : 1131.4743
Iteration : 300: Cost : 927.9150
Iteration : 400: Cost : 761.3172
Iteration : 500: Cost : 624.9590
Iteration : 600: Cost : 513.3432
Iteration : 700: Cost : 421.9732
Iteration : 800: Cost : 347.1710
Iteration : 900: Cost : 285.9279
Iteration : 0: Cost : 1684.1868
Iteration : 100: Cost : 1380.2143
Iteration : 200: Cost : 1131.4743
Iteration : 300: Cost : 927.9150
Iteration : 400: Cost : 761.3172
Iteration : 500: Cost : 624.9590
Iteration : 600: Cost : 513.3432
Iteration : 700: Cost : 421.9732
Iteration : 800: Cost : 347.1710
Iteration : 900: Cost : 285.9279
Iteration : 1000: Cost : 235.7821
Iteration : 1100: Cost : 194.7198
Iteration : 1200: Cost : 161.0928
Iteration : 1300: Cost : 133.5528
Iteration : 1400: Cost : 110.9961
Iteration : 1500: Cost : 92.5195
Iteration : 1600: Cost : 77.3838
Iteration : 1700: Cost : 64.9839
Iteration : 1800: Cost : 54.8244
Iteration : 1900: Cost : 46.4998
Iteration : 2000: Cost : 39.6781
Iteration : 2100: Cost : 34.0875
Iteration : 2200: Cost : 29.5054
Iteration : 2300: Cost : 25.7495
Iteration : 2400: Cost : 22.6705
Iteration : 2500: Cost : 20.1463
Iteration : 2600: Cost : 18.0765
Iteration : 2700: Cost : 16.3793
Iteration : 2800: Cost : 14.9874
Iteration : 2900: Cost : 13.8457
Iteration : 3000: Cost : 12.9092
Iteration : 3100: Cost : 12.1410
Iteration : 3200: Cost : 11.5106
Iteration : 3300: Cost : 10.9933
Iteration : 3400: Cost : 10.5687
Iteration : 3500: Cost : 10.2202
Iteration : 3600: Cost : 9.9341
Iteration : 3700: Cost : 9.6992
Iteration : 3800: Cost : 9.5063
Iteration : 3900: Cost : 9.3479
Iteration : 4000: Cost : 9.2177
Iteration : 4100: Cost : 9.1108
Iteration : 4200: Cost : 9.0229
Iteration : 4300: Cost : 8.9507
Iteration : 4400: Cost : 8.8913
Iteration : 4500: Cost : 8.8424
Iteration : 4600: Cost : 8.8023
Iteration : 4700: Cost : 8.7693
Iteration : 4800: Cost : 8.7421
Iteration : 4900: Cost : 8.7197
Iteration : 0: Cost : 1684.1868
Iteration : 100: Cost : 1380.2143
Iteration : 200: Cost : 1131.4743
Iteration : 300: Cost : 927.9150
Iteration : 400: Cost : 761.3172
Iteration : 500: Cost : 624.9590
Iteration : 600: Cost : 513.3432
Iteration : 700: Cost : 421.9732
Iteration : 800: Cost : 347.1710
Iteration : 900: Cost : 285.9279
Iteration : 1000: Cost : 235.7821
Iteration : 1100: Cost : 194.7198
Iteration : 1200: Cost : 161.0928
Iteration : 1300: Cost : 133.5528
Iteration : 1400: Cost : 110.9961
Iteration : 1500: Cost : 92.5195
Iteration : 1600: Cost : 77.3838
Iteration : 1700: Cost : 64.9839
Iteration : 1800: Cost : 54.8244
Iteration : 1900: Cost : 46.4998
Iteration : 2000: Cost : 39.6781
Iteration : 2100: Cost : 34.0875
Iteration : 2200: Cost : 29.5054
Iteration : 2300: Cost : 25.7495
Iteration : 2400: Cost : 22.6705
Iteration : 2500: Cost : 20.1463
Iteration : 2600: Cost : 18.0765
Iteration : 2700: Cost : 16.3793
Iteration : 2800: Cost : 14.9874
Iteration : 2900: Cost : 13.8457
Iteration : 3000: Cost : 12.9092
Iteration : 3100: Cost : 12.1410
Iteration : 3200: Cost : 11.5106
Iteration : 3300: Cost : 10.9933
Iteration : 3400: Cost : 10.5687
Iteration : 3500: Cost : 10.2202
Iteration : 3600: Cost : 9.9341
Iteration : 3700: Cost : 9.6992
Iteration : 3800: Cost : 9.5063
Iteration : 3900: Cost : 9.3479
Iteration : 4000: Cost : 9.2177
Iteration : 4100: Cost : 9.1108
Iteration : 4200: Cost : 9.0229
Iteration : 4300: Cost : 8.9507
Iteration : 4400: Cost : 8.8913
Iteration : 4500: Cost : 8.8424
Iteration : 4600: Cost : 8.8023
Iteration : 4700: Cost : 8.7693
Iteration : 4800: Cost : 8.7421
Iteration : 4900: Cost : 8.7197
Iteration : 5000: Cost : 8.7013
Iteration : 5100: Cost : 8.6861
Iteration : 5200: Cost : 8.6736
Iteration : 5300: Cost : 8.6633
Iteration : 5400: Cost : 8.6548
Iteration : 5500: Cost : 8.6478
Iteration : 5600: Cost : 8.6421
Iteration : 5700: Cost : 8.6373
Iteration : 5800: Cost : 8.6334
Iteration : 5900: Cost : 8.6301
Iteration : 6000: Cost : 8.6275
Iteration : 6100: Cost : 8.6253
Iteration : 6200: Cost : 8.6234
Iteration : 6300: Cost : 8.6219
Iteration : 6400: Cost : 8.6207
Iteration : 6500: Cost : 8.6196
Iteration : 6600: Cost : 8.6188
Iteration : 6700: Cost : 8.6181
Iteration : 6800: Cost : 8.6175
Iteration : 6900: Cost : 8.6170
Iteration : 7000: Cost : 8.6166
Iteration : 7100: Cost : 8.6162
Iteration : 7200: Cost : 8.6160
Iteration : 7300: Cost : 8.6157
Iteration : 7400: Cost : 8.6155
Iteration : 7500: Cost : 8.6154
Iteration : 7600: Cost : 8.6152
Iteration : 7700: Cost : 8.6151
Iteration : 7800: Cost : 8.6150
Iteration : 7900: Cost : 8.6150
Iteration : 8000: Cost : 8.6149
Iteration : 8100: Cost : 8.6148
Iteration : 8200: Cost : 8.6148
Iteration : 8300: Cost : 8.6148
Iteration : 8400: Cost : 8.6147
Iteration : 8500: Cost : 8.6147
Iteration : 8600: Cost : 8.6147
Iteration : 8700: Cost : 8.6147
Iteration : 8800: Cost : 8.6146
Iteration : 8900: Cost : 8.6146
Iteration : 9000: Cost : 8.6146
Iteration : 9100: Cost : 8.6146
Iteration : 9200: Cost : 8.6146
Iteration : 9300: Cost : 8.6146
Iteration : 9400: Cost : 8.6146
Iteration : 9500: Cost : 8.6146
Iteration : 9600: Cost : 8.6146
Iteration : 9700: Cost : 8.6146
Iteration : 9800: Cost : 8.6146
Iteration : 9900: Cost : 8.6146
Iteration : 0: Cost : 1368.4050
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 0: Cost : 1368.4050
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 1000: Cost : 8.6146
Iteration : 1100: Cost : 8.6146
Iteration : 1200: Cost : 8.6146
Iteration : 1300: Cost : 8.6146
Iteration : 1400: Cost : 8.6146
Iteration : 1500: Cost : 8.6146
Iteration : 1600: Cost : 8.6146
Iteration : 1700: Cost : 8.6146
Iteration : 1800: Cost : 8.6146
Iteration : 1900: Cost : 8.6146
Iteration : 2000: Cost : 8.6146
Iteration : 2100: Cost : 8.6146
Iteration : 2200: Cost : 8.6146
Iteration : 2300: Cost : 8.6146
Iteration : 2400: Cost : 8.6146
Iteration : 2500: Cost : 8.6146
Iteration : 2600: Cost : 8.6146
Iteration : 2700: Cost : 8.6146
Iteration : 2800: Cost : 8.6146
Iteration : 2900: Cost : 8.6146
Iteration : 3000: Cost : 8.6146
Iteration : 3100: Cost : 8.6146
Iteration : 3200: Cost : 8.6146
Iteration : 3300: Cost : 8.6146
Iteration : 3400: Cost : 8.6146
Iteration : 3500: Cost : 8.6146
Iteration : 3600: Cost : 8.6146
Iteration : 3700: Cost : 8.6146
Iteration : 3800: Cost : 8.6146
Iteration : 3900: Cost : 8.6146
Iteration : 4000: Cost : 8.6146
Iteration : 4100: Cost : 8.6146
Iteration : 4200: Cost : 8.6146
Iteration : 4300: Cost : 8.6146
Iteration : 4400: Cost : 8.6146
Iteration : 4500: Cost : 8.6146
Iteration : 4600: Cost : 8.6146
Iteration : 4700: Cost : 8.6146
Iteration : 4800: Cost : 8.6146
Iteration : 4900: Cost : 8.6146
Iteration : 0: Cost : 1368.4050
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 1000: Cost : 8.6146
Iteration : 1100: Cost : 8.6146
Iteration : 1200: Cost : 8.6146
Iteration : 1300: Cost : 8.6146
Iteration : 1400: Cost : 8.6146
Iteration : 1500: Cost : 8.6146
Iteration : 1600: Cost : 8.6146
Iteration : 1700: Cost : 8.6146
Iteration : 1800: Cost : 8.6146
Iteration : 1900: Cost : 8.6146
Iteration : 2000: Cost : 8.6146
Iteration : 2100: Cost : 8.6146
Iteration : 2200: Cost : 8.6146
Iteration : 2300: Cost : 8.6146
Iteration : 2400: Cost : 8.6146
Iteration : 2500: Cost : 8.6146
Iteration : 2600: Cost : 8.6146
Iteration : 2700: Cost : 8.6146
Iteration : 2800: Cost : 8.6146
Iteration : 2900: Cost : 8.6146
Iteration : 3000: Cost : 8.6146
Iteration : 3100: Cost : 8.6146
Iteration : 3200: Cost : 8.6146
Iteration : 3300: Cost : 8.6146
Iteration : 3400: Cost : 8.6146
Iteration : 3500: Cost : 8.6146
Iteration : 3600: Cost : 8.6146
Iteration : 3700: Cost : 8.6146
Iteration : 3800: Cost : 8.6146
Iteration : 3900: Cost : 8.6146
Iteration : 4000: Cost : 8.6146
Iteration : 4100: Cost : 8.6146
Iteration : 4200: Cost : 8.6146
Iteration : 4300: Cost : 8.6146
Iteration : 4400: Cost : 8.6146
Iteration : 4500: Cost : 8.6146
Iteration : 4600: Cost : 8.6146
Iteration : 4700: Cost : 8.6146
Iteration : 4800: Cost : 8.6146
Iteration : 4900: Cost : 8.6146
Iteration : 5000: Cost : 8.6146
Iteration : 5100: Cost : 8.6146
Iteration : 5200: Cost : 8.6146
Iteration : 5300: Cost : 8.6146
Iteration : 5400: Cost : 8.6146
Iteration : 5500: Cost : 8.6146
Iteration : 5600: Cost : 8.6146
Iteration : 5700: Cost : 8.6146
Iteration : 5800: Cost : 8.6146
Iteration : 5900: Cost : 8.6146
Iteration : 6000: Cost : 8.6146
Iteration : 6100: Cost : 8.6146
Iteration : 6200: Cost : 8.6146
Iteration : 6300: Cost : 8.6146
Iteration : 6400: Cost : 8.6146
Iteration : 6500: Cost : 8.6146
Iteration : 6600: Cost : 8.6146
Iteration : 6700: Cost : 8.6146
Iteration : 6800: Cost : 8.6146
Iteration : 6900: Cost : 8.6146
Iteration : 7000: Cost : 8.6146
Iteration : 7100: Cost : 8.6146
Iteration : 7200: Cost : 8.6146
Iteration : 7300: Cost : 8.6146
Iteration : 7400: Cost : 8.6146
Iteration : 7500: Cost : 8.6146
Iteration : 7600: Cost : 8.6146
Iteration : 7700: Cost : 8.6146
Iteration : 7800: Cost : 8.6146
Iteration : 7900: Cost : 8.6146
Iteration : 8000: Cost : 8.6146
Iteration : 8100: Cost : 8.6146
Iteration : 8200: Cost : 8.6146
Iteration : 8300: Cost : 8.6146
Iteration : 8400: Cost : 8.6146
Iteration : 8500: Cost : 8.6146
Iteration : 8600: Cost : 8.6146
Iteration : 8700: Cost : 8.6146
Iteration : 8800: Cost : 8.6146
Iteration : 8900: Cost : 8.6146
Iteration : 9000: Cost : 8.6146
Iteration : 9100: Cost : 8.6146
Iteration : 9200: Cost : 8.6146
Iteration : 9300: Cost : 8.6146
Iteration : 9400: Cost : 8.6146
Iteration : 9500: Cost : 8.6146
Iteration : 9600: Cost : 8.6146
Iteration : 9700: Cost : 8.6146
Iteration : 9800: Cost : 8.6146
Iteration : 9900: Cost : 8.6146
Iteration : 0: Cost : 11.8855
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 0: Cost : 11.8855
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 1000: Cost : 8.6146
Iteration : 1100: Cost : 8.6146
Iteration : 1200: Cost : 8.6146
Iteration : 1300: Cost : 8.6146
Iteration : 1400: Cost : 8.6146
Iteration : 1500: Cost : 8.6146
Iteration : 1600: Cost : 8.6146
Iteration : 1700: Cost : 8.6146
Iteration : 1800: Cost : 8.6146
Iteration : 1900: Cost : 8.6146
Iteration : 2000: Cost : 8.6146
Iteration : 2100: Cost : 8.6146
Iteration : 2200: Cost : 8.6146
Iteration : 2300: Cost : 8.6146
Iteration : 2400: Cost : 8.6146
Iteration : 2500: Cost : 8.6146
Iteration : 2600: Cost : 8.6146
Iteration : 2700: Cost : 8.6146
Iteration : 2800: Cost : 8.6146
Iteration : 2900: Cost : 8.6146
Iteration : 3000: Cost : 8.6146
Iteration : 3100: Cost : 8.6146
Iteration : 3200: Cost : 8.6146
Iteration : 3300: Cost : 8.6146
Iteration : 3400: Cost : 8.6146
Iteration : 3500: Cost : 8.6146
Iteration : 3600: Cost : 8.6146
Iteration : 3700: Cost : 8.6146
Iteration : 3800: Cost : 8.6146
Iteration : 3900: Cost : 8.6146
Iteration : 4000: Cost : 8.6146
Iteration : 4100: Cost : 8.6146
Iteration : 4200: Cost : 8.6146
Iteration : 4300: Cost : 8.6146
Iteration : 4400: Cost : 8.6146
Iteration : 4500: Cost : 8.6146
Iteration : 4600: Cost : 8.6146
Iteration : 4700: Cost : 8.6146
Iteration : 4800: Cost : 8.6146
Iteration : 4900: Cost : 8.6146
Iteration : 0: Cost : 11.8855
Iteration : 100: Cost : 8.6146
Iteration : 200: Cost : 8.6146
Iteration : 300: Cost : 8.6146
Iteration : 400: Cost : 8.6146
Iteration : 500: Cost : 8.6146
Iteration : 600: Cost : 8.6146
Iteration : 700: Cost : 8.6146
Iteration : 800: Cost : 8.6146
Iteration : 900: Cost : 8.6146
Iteration : 1000: Cost : 8.6146
Iteration : 1100: Cost : 8.6146
Iteration : 1200: Cost : 8.6146
Iteration : 1300: Cost : 8.6146
Iteration : 1400: Cost : 8.6146
Iteration : 1500: Cost : 8.6146
Iteration : 1600: Cost : 8.6146
Iteration : 1700: Cost : 8.6146
Iteration : 1800: Cost : 8.6146
Iteration : 1900: Cost : 8.6146
Iteration : 2000: Cost : 8.6146
Iteration : 2100: Cost : 8.6146
Iteration : 2200: Cost : 8.6146
Iteration : 2300: Cost : 8.6146
Iteration : 2400: Cost : 8.6146
Iteration : 2500: Cost : 8.6146
Iteration : 2600: Cost : 8.6146
Iteration : 2700: Cost : 8.6146
Iteration : 2800: Cost : 8.6146
Iteration : 2900: Cost : 8.6146
Iteration : 3000: Cost : 8.6146
Iteration : 3100: Cost : 8.6146
Iteration : 3200: Cost : 8.6146
Iteration : 3300: Cost : 8.6146
Iteration : 3400: Cost : 8.6146
Iteration : 3500: Cost : 8.6146
Iteration : 3600: Cost : 8.6146
Iteration : 3700: Cost : 8.6146
Iteration : 3800: Cost : 8.6146
Iteration : 3900: Cost : 8.6146
Iteration : 4000: Cost : 8.6146
Iteration : 4100: Cost : 8.6146
Iteration : 4200: Cost : 8.6146
Iteration : 4300: Cost : 8.6146
Iteration : 4400: Cost : 8.6146
Iteration : 4500: Cost : 8.6146
Iteration : 4600: Cost : 8.6146
Iteration : 4700: Cost : 8.6146
Iteration : 4800: Cost : 8.6146
Iteration : 4900: Cost : 8.6146
Iteration : 5000: Cost : 8.6146
Iteration : 5100: Cost : 8.6146
Iteration : 5200: Cost : 8.6146
Iteration : 5300: Cost : 8.6146
Iteration : 5400: Cost : 8.6146
Iteration : 5500: Cost : 8.6146
Iteration : 5600: Cost : 8.6146
Iteration : 5700: Cost : 8.6146
Iteration : 5800: Cost : 8.6146
Iteration : 5900: Cost : 8.6146
Iteration : 6000: Cost : 8.6146
Iteration : 6100: Cost : 8.6146
Iteration : 6200: Cost : 8.6146
Iteration : 6300: Cost : 8.6146
Iteration : 6400: Cost : 8.6146
Iteration : 6500: Cost : 8.6146
Iteration : 6600: Cost : 8.6146
Iteration : 6700: Cost : 8.6146
Iteration : 6800: Cost : 8.6146
Iteration : 6900: Cost : 8.6146

In [135]:
summary_df = (
    pd.DataFrame(rows)
      .sort_values(by=["Test RMSE", "Final Cost (Train)"], ascending=[True, True])
      .reset_index(drop=True)
)
summary_df

,α,Iterations,Final Cost (Train),Train MSE,Train MAE,Train RMSE,Train R²,Test MSE,Test MAE,Test RMSE,Test R²
0,0.00100,10000,8.614573,17.229147,3.362731,4.150801,0.939966,41.585245,5.140081,6.448662,0.849305
1,1.00000,1000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
2,1.00000,5000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
3,1.00000,10000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
4,0.10000,5000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
5,0.10000,1000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
6,0.10000,10000,8.614562,17.229123,3.363081,4.150798,0.939966,41.593449,5.141690,6.449298,0.849275
7,0.00100,5000,8.701443,17.402886,3.370588,4.171677,0.939360,42.166498,5.108788,6.493574,0.847199
8,0.00100,1000,236.235585,472.471171,20.433088,21.736402,-0.646308,467.145912,19.942849,21.613559,-0.692825
9,0.00001,10000,1383.098618,2766.197236,50.282414,52.594650,-8.638712,2550.233822,48.153764,50.499840,-8.241438
10,0.00001,5000,1527.699185,3055.398371,52.860462,55.275658,-9.646422,2813.813067,50.609136,53.045387,-9.196586
11,0.00001,1000,1654.281186,3308.562373,55.017749,57.520104,-10.528563,3044.728363,52.665528,55.179057,-10.033368